<div data-pg-name="Content" class="m-0 p-0" data-pgc-field="Content">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" data-pg-collapsed>
        <div class="col-md-5 p-lg-5 mx-auto my-5" data-pg-collapsed>
            <h1 class="display-4 font-weight-normal" data-pg-collapsed>Punny headline</h1>
            <p class="lead font-weight-normal" data-pg-collapsed>And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple's marketing pages.</p>
            <a class="btn btn-outline-secondary" href="#" data-pg-collapsed>Coming soon</a>
        </div>
        <div class="product-device box-shadow d-none d-md-block" data-pg-collapsed></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block" data-pg-collapsed></div>
    </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3" data-pg-collapsed>
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" data-pg-collapsed>
            <div class="my-3 py-3" data-pg-collapsed>
                <h2 class="display-5" data-pg-collapsed>Another headline</h2>
                <p class="lead" data-pg-collapsed>And an even wittier subheading.</p>
            </div>
            <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;" data-pg-collapsed></div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" data-pg-collapsed>
            <div class="my-3 p-3" data-pg-collapsed>
                <h2 class="display-5" data-pg-collapsed>Another headline</h2>
                <p class="lead" data-pg-collapsed>And an even wittier subheading.</p>
            </div>
            <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;" data-pg-collapsed></div>
        </div>
    </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3" data-pg-collapsed>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" data-pg-collapsed>
            <div class="my-3 p-3" data-pg-collapsed>
                <h2 class="display-5" data-pg-collapsed>Another headline</h2>
                <p class="lead" data-pg-collapsed>And an even wittier subheading.</p>
            </div>
            <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;" data-pg-collapsed></div>
        </div>
        <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" data-pg-collapsed>
            <div class="my-3 py-3" data-pg-collapsed>
                <h2 class="display-5" data-pg-collapsed>Another headline</h2>
                <p class="lead" data-pg-collapsed>And an even wittier subheading.</p>
            </div>
            <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;" data-pg-collapsed></div>
        </div>
    </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3" data-pg-collapsed>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" data-pg-collapsed>
            <div class="my-3 p-3" data-pg-collapsed>
                <h2 class="display-5" data-pg-collapsed>Another headline</h2>
                <p class="lead" data-pg-collapsed>And an even wittier subheading.</p>
            </div>
            <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;" data-pg-collapsed></div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" data-pg-collapsed>
            <div class="my-3 py-3" data-pg-collapsed>
                <h2 class="display-5" data-pg-collapsed>Another headline</h2>
                <p class="lead" data-pg-collapsed>And an even wittier subheading.</p>
            </div>
            <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;" data-pg-collapsed></div>
        </div>
    </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3" data-pg-collapsed>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" data-pg-collapsed>
            <div class="my-3 p-3" data-pg-collapsed>
                <h2 class="display-5" data-pg-collapsed>Another headline</h2>
                <p class="lead" data-pg-collapsed>And an even wittier subheading.</p>
            </div>
            <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;" data-pg-collapsed></div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" data-pg-collapsed>
            <div class="my-3 py-3" data-pg-collapsed>
                <h2 class="display-5" data-pg-collapsed>Another headline</h2>
                <p class="lead" data-pg-collapsed>And an even wittier subheading.</p>
            </div>
            <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;" data-pg-collapsed></div>
        </div>
    </div>    {{content}}

</div>